.faCartShopping {
  padding: 16px; /* Padding inside the cart */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack icon and text vertically */
  margin: 20px auto; /* Center the cart horizontally */
  width: 5rem; /* Set a fixed width for the cart */
  height: 5rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center; /* Center the content vertically */
  flex-direction: column; /* Stack the icon and text vertically */
  font-size: .9rem;
}

.header h1 {
  color: black;
  font-family: Roboto;
}

.cartlist_container {
  display: flex;
  justify-content: center;
}

