/* Existing Styles */
.title {
  color: black;
  font-size: 1.5rem;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  border: 1.5px solid transparent;
  border-color: #75AC46;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 60px; /* Increased bottom padding */
  margin: 50px 25px 20px 25px;
  text-align: center;
  background-color: white;
  font-family: Roboto;
  font-size: .9rem;
}

.img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: .8rem;
}

.FruitList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Updated Styles for Add to Cart Button */
.addToCart {
  position: absolute;
  bottom: 20px; /* Adjusted position */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Added transform transition */
  width: 50%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent; /* Default background */
  color: white;
  font-size: .9rem;
}

.container:hover .addToCart {
  opacity: 0.6;
  background-color: black
}

.addToCart:hover {
  transform: translateX(-50%) scale(1.05);
  opacity: .8;
  background-color: black
}

/* Other Styles */
.popup {
  position: fixed;
  top: 120px;
  left: 50%;
  width: 50%;
  max-width: 800px;
  max-height: 400px;
  transform: translateX(-50%);
  z-index: 1000;
}

.popupcontent {
  background-color: white;
  border-radius: 5px;
  padding: 3px 15px 3px 15px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: .8rem;
  color: #333;
}

.unit {
  font-size: .8rem;
  color: grey;
}


@media (max-width: 1024px) {
  .container .addToCart {
    opacity: .8; /* Fully visible */
    background-color: black;
    color: white;
  }

  .container {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 250px;
    height: 150px
  }
}
