.title{
  color: black;
}

.container{
  width: 400px;
  border: 3px solid transparent;
  border-color: #AEB02A;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 50px 25px 20px 25px;
  text-align: center;
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: white;
  font-family: Roboto;
}

.container:hover {
  transform: translateY(-10px); /* Move the card up */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow for pop-up effect */
}

.img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.FruitList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.container:hover .overlay {
  opacity: 1;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.container:hover .addToCart {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  background-color: black;
  opacity: .75;
  color: white;
}

.addToCart{
  opacity: 0;
}
