.container {
  width: 80%;
  height: 350px;
  margin: auto;
  margin-top: 50px;
  padding: 50px;
  border-top:50px;
  border: 3px solid;
  border-radius: 15px;
  border-color: #75AC46;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.image {
  width: 90%;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.image:hover {
  transform: scale(0.9); /* Slightly enlarges the image to create a closer effect */
  box-shadow: 0 10px 10px rgba(0, 0, 0.5, 0.5); /* Increases the shadow for a more dramatic effect */
}