.header {
  display: flex;
  font-family: 'Roboto' ;
  font-size: 36px;
  background-color: #AEB02A;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.links {
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto';
  font-size: 24px;
  list-style: none;
  padding-right: 20px;
}

.links li {
 font-family: 'Roboto';
 padding-right: 30px;
 cursor: pointer;
 transition: transform 0.3s ease;
}

.links li:hover {
  transform: scale(1.2);
}

.title p {
  font-size: 20px;
  font-family: 'Roboto';
  margin: 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.login {
  display: flex;
  flex-direction: row;
}

.login li{
  padding-left: 10px;
  padding-right: 25px;
}

.logo {
  display: inline-block;
  font-size: 0.75em; /* Adjust size as needed */
  font-weight: bold;
  color: #333;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 80%;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px; /* Centers the number within the circle */
}

.count {
  color: black;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 80%;
  width: 50px;
  height: 50px;
}